<div class = "container">
  <div class = "row">
    <div class = "col-sm-8">
      <h4>マイページ</h4>
      <div class = "d-flex my-4">
        <h4 class = "pr-4"><strong>登録情報</strong></h4>
        <%= link_to "編集する", edit_customers_path, class: "btn btn-success col-2" %>
      </div>
      
      <div class = "row">
        <table class = "table table-bordered">
          <tbody>
            <tr>
              <th class = "border border-dark table-active">氏名</th>
              <td class = "border border-dark"><%= @customer.last_name %> <%= @customer.first_name %></td>
            </tr>
            <tr>
              <th class = "border border-dark table-active">カナ</th>
              <td class = "border border-dark"><%= @customer.kana_last_name %> <%= @customer.kana_first_name %></td>
            </tr>
            <tr>
              <th class = "border border-dark table-active">郵便番号</th>
              <td class = "border border-dark"><%= @customer.postal_code %></td>
            </tr>
            <tr>
              <th class = "border border-dark table-active">電話番号</th>
              <td class = "border border-dark"><%= @customer.phone_number %></td>
            </tr>
            <tr>
              <th class = "border border-dark table-active">メールアドレス</th>
              <td class = "border border-dark"><%= @customer.email %></td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class = "d-flex my-3">
        <h4 class = "pr-5"><strong>配送先</strong></h4>
      <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary col-2" %>
      </div>
      
      <div class = "d-flex">
        <h4 class = "pr-4"><strong>注文履歴</strong></h4>
      <%= link_to "一覧を見る", orders_path, class: "btn btn-primary col-2" %>
      </div>
    </div>
  </div>
</div>
