<div class = "container">
  <div class = "row">
    <div class = "col-sm-12">
      <h4 class = "offset-sm-1 mb-2">新規会員登録</h4>
      <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local:true do |f| %>
      　<%= render "customers/shared/error_messages", resource: resource %>
      　
      　<div class = "field">
      　   <%= f.label "名前", class: "col-3" %>
      　   <%= f.text_field :last_name, autocomplete: "last_name", placeholder: "（姓）令和", class: "col-3" %>
      　   <%= f.text_field :first_name, autocomplete: "first_name", placeholder: "（名）道子", class: "col-3" %>
      　</div>
      　
      　<div class = "field">
      　   <%= f.label "フリガナ", class: "col-3" %>
       　  <%= f.text_field :kana_last_name, autocomplete: "kana_last_name", placeholder: "（セイ）レイワ", class: "col-3" %>
       　  <%= f.text_field :kana_first_name, autocomplete: "kana_first_name", placeholder: "（メイ）ミチコ", class: "col-3" %>
      　</div>

      　<div class = "field">
       　  <%= f.label "メールアドレス", class: "col-3" %>
       　  <%= f.text_field :email, autocomplete: "email", placeholder: "example@example.com", class: "col-3" %>
      　</div>

      　<div class = "field ">
       　  <%= f.label "郵便番号(ハイフンなし)", class: "col-3" %>
       　  <%= f.text_field :postal_code, autocomplete: "postal_code", placeholder: "0000000", class: "col-3" %>
      　</div>

      　<div class = "field">
       　  <%= f.label "住所", class: "col-3" %>
       　  <%= f.text_field :address, autocomplete: "address", placeholder: "東京都渋谷区代々木神園町0-0", class: "col-6" %>
      　</div>

      　<div class = "field">
       　  <%= f.label "電話番号(ハイフンなし)", class: "col-3" %>
       　  <%= f.text_field :phone_number, autocomplete: "phone_number", placeholder: "0000000000", class: "col-3" %>
      　</div>

      　<div class = "field">
       　  <%= f.label "パスワード(6文字以上)", class: "col-3" %>
       　  <%= f.password_field :password, autocomplete: "new-password", class: "col-3" %>
      　</div>

      　<div class = "field">
       　  <%= f.label "パスワード(確認用)", class: "col-3" %>
       　  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-3" %>
      　</div>
      　
      　<div class = "actions offset-sm-3">
      　   <%= f.submit "新規登録", class: "btn btn-success col-5" %>
      　</div>
      <% end %>
      
      <div class = "offset-sm-1 mt-4">
        <h4>既に登録済みの方</h4>
        <div class = "ml-5 mt-3">
          <%= link_to "こちら", new_customer_session_path %> からログインしてください。
        </div>
      </div>
    </div>
  </div>
</div>




