<div class = "container h-auto">
  <div class = "row">
    <div class = "col-sm-12">
      <div class = "offset-sm-1 mt-5">
        <div class="offset-sm-1 mt-5">
          <p class = "text-success mt-3"><%= flash[:notice] %></p>
          <p class = "text-danger mt-3"><%= flash[:alert] %></p>
        </div>
        <h2 class = "font-weight-bold">管理者ログイン</h2>
      </div>
      <div class = "my-5">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class = "field text-center">
          <%= f.label :メールアドレス, class: "col-2" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "col-4" %>
        </div>

        <div class = "field text-center mt-2">
          <%= f.label :パスワード, class: "col-2" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "col-4" %>
        </div>

        <div class ="action text-center mt-3">
          <%= f.submit "ログイン", class: "btn btn-primary col-2" %></td>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>