<div class="container">
  <h2>注文情報確認</h2>
  <div class="row">
    <div class = "col-sm-8">
      <% if current_customer.cart_items.present? %>
        <table class = "table table-bordered">
          <thead>
            <tr class="info">
              <th class="table-active border border-dark">商品名</th>
              <th class="table-active border border-dark">単価（税込）</th>
              <th class="table-active border border-dark">数量</th>
              <th class="table-active border border-dark">小計</th>
            </tr>
          </thead>
          <tbody>
            <% @sum = 0 %>
            <% @cart_items.each do |cart| %>
              <tr>
                <td class="text-left">
                  <%= attachment_image_tag(cart.item, :image, size: "60x50", fallback: "no_image.jpg") %>
                  <strong><%= cart.item.name %></strong>
                </td>
                <td class="text-left">
                  <%= ((cart.item.price*1.10).to_i).to_s(:delimited) %>
                </td>
                <td class="text-left">
                  <%= cart.number %>
                </td>
                <td class="text-left">
                  <%= ((cart.item.price*1.10).to_i*(cart.number).to_i).to_s(:delimited) %>
                  <% @sum +=  ((cart.item.price*1.10).to_i*(cart.number).to_i) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-sm-4">
        <table class = "table table-bordered">
          <tr>
            <th class="info">送料</th>
            <td class="text-right col-xs-5">800</td>
          </tr>
          <tr>
            <th class="info">商品合計</th>
            <td class="text-right"><%= @sum.to_s(:delimited) %></td>
          </tr>
          <tr>
            <th class="info">請求金額</th>
            <td class="text-right"><%= (@sum + 800).to_s(:delimited) %></td>
          </tr>
        </table>
      </div>
      <div class="col-xs-9">
      <table class = "table table-bordered">
          <tr>
            <th class="info">
              <strong>支払方法</strong>
              <td class="text-right">
                <%= @order.payment_method %>
              </td>
            </th>
          </tr>
          <tr>
            <th class="info">
              <strong>お届け先</strong>
              <td class="text-right">
                <p><%= @order.postal_code %>&nbsp;&nbsp;&nbsp;<%= @order.address %></p>
                <p><%= @order.name %></p>
              </td>
            </th>
          </tr>
        </table>
        <div class ="col-xs-11">
          <%= form_with model: @order, url: orders_path, local: true do |f| %>
            <%= f.hidden_field :postal_code %>
            <%= f.hidden_field :address %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :payment_method %>
            <%= f.hidden_field :payment_amount, :value => (@sum + 800) %>
            <%= link_to "注文情報入力へ戻る", new_order_path,  class: "btn btn-warning col-xs-3 back" %>
            <%= f.submit "注文を確定する", class: "btn btn btn-success center-block col-xs-5" %>
          <% end %>
        </div>
      <% else %>
        <p>お客様のショッピングカートに商品はありませんので注文確定ができません。</p>
        <p><%= link_to "商品一覧", items_path %>から商品をお探し下さい。</p>
      <% end %>
    </div>
  </div>
</div>
