<header>
  <div class="container">
    <nav class="navbar navbar-expand-xl">
      <%= link_to image_tag("logo1.png"), "/", data: {"turbolinks" => false} %>
      <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fas fa-bars"></span>
      </button>

      <nav class="mx-auto collapse navbar-collapse justify-content-end", id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <% if customer_signed_in? %>
            <li  class="nav-text my-3 text-center">
              ようこそ、<%= current_customer.last_name %>さん！
            </li>
            <p class="nav-button btn btn-sm mx-2 my-auto">
              <%= link_to "マイページ", customers_my_page_path, class: "nav-link" %>
            </p>
            <p class="nav-button btn btn-sm mx-2 my-auto">
              <%= link_to "商品一覧", items_path, class: "nav-link" %>
            </p>
            <p class="nav-button btn btn-sm mx-2 my-auto">
              <%= link_to "カート", cart_items_path, class: "nav-link" %>
            </p>
            <p class="nav-button btn btn-sm mx-2 my-auto">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link" %>
            </p>
            <div class="nav-item dropdown mt-2">
              <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ジャンル検索
              </div>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <% Genre.all.each do |genre| %>
                <a class="dropdown-item">
                  <%= link_to genre.name, search_path('search[value]': genre.id, 'search[how]': "match") %>
                </a>
                <% end %>
              </div>
            </div>
            <% elsif admin_signed_in? %>
            <p class="nav-button btn btn-sm mx-2 my-auto">
              <%= link_to "商品一覧", admin_items_path, class: "nav-link" %>
            </p>
            <p class="nav-button btn btn-sm mx-2 my-auto">
              <%= link_to "会員一覧", admin_customers_path, class: "nav-link" %>
            </p>
            <p class="nav-button btn btn-sm mx-2 my-auto">
              <%= link_to "注文履歴一覧", admin_root_path, class: "nav-link" %>
            </p>
            <p class="nav-button btn btn-sm mx-2 my-auto">
              <%= link_to "ジャンル一覧", admin_genres_path, class: "nav-link" %>
            </p>
            <p class="nav-button btn btn-sm mx-2 my-auto">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
            </p>
            <%= form_with url: admin_search_path, local: true, method: :get do |f| %>
              <%= f.text_field :search, class: "form-control-sm mt-2", style: "width:100px;", placeholder: "Search" %>
              <%= f.submit "検索", class: "btn btn-success btn-sm" %>
            <% end %>
            </div>
          <% else %>
            <p class="nav-button btn btn-sm mx-2 my-auto">
              <%= link_to "About", about_path, class: "nav-link" %>
            </p>
            <p class="nav-button btn btn-sm mx-2 my-auto">
              <%= link_to "商品一覧", items_path, class: "nav-link" %>
            </p>
            <p class="nav-button btn btn-sm mx-2 my-auto">
              <%= link_to "新規登録", new_customer_registration_path, class: "nav-link" %>
            </p>
            <p class="nav-button btn btn-sm mx-2 my-auto">
              <%= link_to "ログイン", new_customer_session_path, class: "nav-link" %>
            </p>
            <div class="nav-item dropdown mt-2">
              <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ジャンル検索
              </div>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <% Genre.all.each do |genre| %>
                <a class="dropdown-item">
                  <%= link_to genre.name, search_path('search[value]': genre.id, 'search[how]': "match") %>
                </a>
                <% end %>
              </div>
            </div>
          <% end %>
        </ul>
      </nav>
    </nav>
  </div>
</header>